* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8fdb51;
  font-family: Arial, sans-serif;
}

/* NAVIGATION */

.navbar {
  background: #8a7b6a;
  padding: 20px;

  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a.active {
  border-bottom: 3px solid white;
}

/* HERO */

.hero {
  min-height: 70vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5rem;
}

/* SHOP PAGE */

.shop-layout {
  display: flex;
  min-height: 80vh;
}

.sidebar {
  width: 250px;
  background: #b59a83;
  padding: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
}

.products-grid {
  flex: 1;

  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(220px, 1fr)
    );

  gap: 20px;

  padding: 20px;
}

.product-card {
  background: white;

  border-radius: 8px;

  padding: 20px;

  text-align: center;
}

/* ADMIN PAGE */

.admin-page {
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-form {
  width: 400px;

  background: #8a7b6a;

  padding: 30px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-form input {
  padding: 10px;
}

.admin-form button {
  padding: 10px;
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 768px) {
  .shop-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .products-grid {
  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(250px, 1fr)
    );

  gap: 20px;
}

.product-card {
  transition: 0.3s;
}

.product-card:hover {
  transform:
    translateY(-4px);
}
}